.history-right-column {
  background-color: #fff;
  height: 566px;
}
.list-group-item.active {
  background-color: #bf40bf;
  border-color: #bf40bf;
}
.history-right-column .active:hover {
  color: #fff !important;
}
time {
  bottom: 5px;
  left: 5px;
}
.card .fa-play {
  position: absolute;
  top: 43%;
  right: 46%;
  color: #2c3131c7;
  display: none;
}
.card .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #2c3131c7;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card .channel {
    display: block;
    margin-top: 10px;
  }
  .card .channel img {
    margin-right: 0px;
  }
  h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 767px) {
  .card .card-icon .top-image {
    width: 100% !important;
  }
}
